*{
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Kalam', cursive;
}
body {
    background-image: url('../image/Blog20220228075028.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* #mlp{
    font-size: 30px;
} */
.carousel-inner {
    font-size: 20px;
    
}